{{- /* Template file for chezmoi config file */ -}}
{{ $qtile := promptBool "Qtile(true,false)" -}}
[edit]
    command = "nvim"
[merge]
    command = "nvim"
    args = ["-d", "{{ "{{ .Destination }}" }}", "{{ "{{ .Source }}" }}", "{{ "{{ .Target }}" }}"]
[data]
    qtile = {{ $qtile }}
