{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu" "pop" )) -}}
#!/bin/bash

set -eufo pipefail

echo -e "\033[0;32m>>>>> Begin Setting Up Ubuntu Packages <<<<<\033[0m"

sudo apt-get update && sudo apt-get upgrade

# Install PacStall
sudo bash -c "$(curl -fsSL https://git.io/JsADh || wget -q https://git.io/JsADh -O -)"

# Install Ibus-Bamboo
sudo bash -c "$(curl -fsSL https://raw.githubusercontent.com/BambooEngine/ibus-bamboo/master/archlinux/install.sh)"

# Intstall Zap
sh <(curl -s https://raw.githubusercontent.com/zap-zsh/zap/master/install.sh)

# Install Starship prompt
curl -sS https://starship.rs/install.sh | sh

# Install packages
sudo apt install -y $(awk '/^[^{]/ {print $0}' < ~/.dotfiles/home/.chezmoitemplates/packages.list)

pacstall -I alacritty
pacstall -I bat-deb
pacstall -I exa-git
pacstall -I git-credential-manager-core-deb
pacstall -I neofetch
pacstall -I neovim

{{ end -}}
